@model IEnumerable<AsistenciaUniversitaria.Web.Models.Escuela>

@{
    ViewData["Title"] = "Escuelas";
}

<h1>Escuelas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Escuela</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Recinto</th>
            <th>@Html.DisplayNameFor(m => m.First().Nombre)</th>
            <th>@Html.DisplayNameFor(m => m.First().Estado)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Recinto?.Nombre</td>
                <td>@item.Nombre</td>
                <td>@item.Estado</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
